* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.menu-header {
  text-decoration: none;
  font-size: 30px;
  font-weight: 400px;
  font-family: "Days One", sans-serif;
  color: #f57b23;
}

.menu-items {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 169px;
  width: 100%;
  padding: 0 30px;
}

.menu-links {
  display: flex;
  gap: 30px;
  list-style: none;
}

.menu-link {
  text-decoration: none;
  font-size: 20px;
  font-weight: 500px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  line-height: 30px;
  letter-spacing: -0.22px;
  color: #1e1e1e;
}

.menu-link:hover {
  color: #f57b23;
}

.hero-banner {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 463px;
  background-image: url(../Traveller/images/guliver-hero.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
}

.search-form {
  position: relative;
}

.hero-input {
  width: 750px;
  height: 70px;
  border-radius: 100px;
  background: #fff;
  box-shadow: 0px 7px 12px 0px rgba(0, 0, 0, 0.15);
  position: relative;
  border-style: none;
  padding-left: 70px;
  font-family: Roboto;
  font-size: 24px;
  font-style: normal;
  font-weight: 400px;
  letter-spacing: -0.264px;
}

.hero-input::placeholder {
  color: rgba(51, 51, 51, 0.8);
}

.search-icon {
  appearance: none;
  border: 0;
  background: transparent;
  position: absolute;
  top: 18px;
  left: 20px;
}

body {
  font-family: 'Roboto', sans-serif;;
}

.titulo {
  width: 100%;
  height: 80px;
  padding-top: 100px;
  font-size: 30px;
  font-weight: 800;
  line-height: 45px;
  letter-spacing: -0.011em;
  text-align: left;
  padding-left: 268px;

}

.container {
    display: flex;
    flex-direction: row;
    padding-top: 80px;
    align-items: center;
    height: 307px;
    column-gap: 16px;
    width: 100%;    
    top: 2425px;
    padding-left: 268px;
  }
  .card {
    position: relative;
    width: 260px;
    height: 260px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .card_img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background-image: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 1))
  }

  .card_h2 { 
    position: absolute;
    bottom: 0;
    left: 0;
    font-size: 600;
    color: white;
    padding: 5px;
  }

